@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Zalondo Sans", "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-neutral-925: #111111;
}

html,
body {
  @apply bg-white dark:bg-neutral-925;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* #0a0a0a */
/* #171717 */